@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
  font-family: "NanumSquare", sans-serif;
  margin: 0px;
}
.header {
  display: flex;
  position: absolute;
  top: 10%;
  left: 38%;
}
.body {
  position: absolute;
  width: 100%;
  top: 30%;
}
.form {
  position: absolute;
  left: 30%;
}
.sendBtn {
  position: absolute;
  font-size: 1.2em;
  margin: 5%;
  right: 0%;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.heavyBtn {
  position: absolute;
  font-size: 1.2em;
  margin: 5%;
  right: -50%;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.input {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 30%;
  margin-top: 10%;
  padding: 1%;
}
.medicine- {
  margin: 2% 0% 2% 0%;
}
.output {
  position: absolute;
  top: 30%;
  width: 30%;
  right: 15%;
  margin-top: 10%;
  padding: 1%;
}
.usermode {
  background-color: red;
  color: white;
}
.saveBtn {
  position: absolute;
  font-size: 1.2em;
  margin: 5%;
  right: -80%;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}
